body {
	margin: 0;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
body img{
	max-width: auto;
}

header{    
	background:url(../img/hey.jpg);
    background-attachment:fixed;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1{
	color: whitesmoke;
	font-family: 'Chakra Petch', sans-serif;
}

header img{
	border-color: whitesmoke;
	border-radius: 170px;
	width: 300px;
	border: 10px solid darkred;
}

h1, h2{
	font-family: 'Abyssinica SIL', serif;
	font-size: 20px;
}

footer{
	text-align: center;
	background-color: black;
	color: white;
	height: 80px;
	padding-top: 20px;
}

ol, ul{
	text-align: left;
}

.biggie{
	font-size: 16px;
}