/*Create commentary (  ctrl and / ) */

body {
	margin: 0;
	font-family: 'Chakra Petch', sans-serif;
	max-width: 1200px;
	margin: 0 auto;
	
}
body img{
	max-width: 100%;
}

header{    
	background:url(../img/hey.jpg);
    background-attachment:fixed;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

header h1{
	color: whitesmoke;
	font-family: 'Chakra Petch', sans-serif;
}

header img{
	border-color: whitesmoke;
	border-radius: 170px;
	width: 300px;
	border: 10px solid darkred;
}

h1, h2{
	font-family: 'Abyssinica SIL', serif;
	font-size: 20px;
}

footer{
	text-align: center;
	background-color: black;
	color: white;
	height: 80px;
	padding-top: 20px;
}

ol, ul{
	text-align: left;
	font-weight: bold;
	max-width: 800px;
	margin: 0 auto;
}

p.biggie{
	font-size: 20px;
}
main{
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

a{
	color: darkviolet;
}

a:hover{
	color: darkgreen;	
}

a:footer{
	color: whitesmoke;
}

footer a{
	color: whitesmoke;
}

footer a:hover{
	color: green;
}
